<!DOCTYPE html>
<html>
<% include head.ejs %>
<script src = "/js/eventscript.js"></script>
<body>

<body>
<header id = "index-header">
  <h1 id = "index-title">Frando</h1>
</header>

<div class = "container">
  <div class = "row">
  <% include sidebar.ejs %>
       <div class = "col-md-9 content">
   
    <h1> 
Upcoming Events!
</h1>
  <ul class = "event-list">
 <% for(var i = events.length-1; i > -1 && i > events.length-15; i--){ %>
    <li class = "event-list-item" id = "<%=events[i]._id%>">
      <h1><%= events[i].name%></h1>
      <img src = "<%=events[i].imageUrl%>">
      <p><%= events[i].description %></p>
      <% if (cookies.userID){ %>
      <button id="event-button" class = btn btn-default "<%=events[i]._id %> signup-button">Sign up!</button>
      <% } %>
      <% if(cookies.hostID == events[i].host){ %>
      <button id="event-button" class ="<%=events[i]._id %> delete-button"> Delete Event</button>
      <% } %>

 <% } %>
 </ul>
    </div>
  </div>
</div>
</body>
</html>

<input type = "hidden" val = "<%=cookies.userID%>" id = "hidden-userID">
